<%= render 'books/list', books: @books %>

<div>
    <h2>Books</h2>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
                <th colspan="3"></th>
            </tr>
        </thead>
        <% @books.each do |book| %>  
            <%= link_to post_image_path(post_image.id) do %>
                <%= image_tag post_image.get_image %>
            <% end %>
            <tbody>
                <tr>
                    <td><%= image_tag book.user.get_profile_image(100,100) %></td>
                    <td><%= book.title %></td>
                    <td><%= book.body %></td>
                </tr>
            </tbody>
        <% end %>
    </table>
</div>

