<!--%= render 'list', books: @books %>-->

<div>
  <%= flash[:notice] %>
</div>

<main>
    <h2>User info</h2>
        <p><%= image_tag book.user.get_profile_image(100,100) %></p>
        <table>
            <tbody>
                <tr>
                    <th>name</th>
                    <th>名前: <%= @user.name %></th>
                </tr>
                <tr>
                    <th>introduction</th>
                    <th>自己紹介文: <%= @user.introduction%></th>
                </tr>
            </tbody>
        </table>
    <% end %>
        
    
    <h2>New Book</h2>
    <% if @book.errors.any? %>
        <%= @book.errors.count %> errors prohibited this obj from being saved:
        <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
             <% end %>
        </ul>
    <% end %>
    
    <%= form_with model: book, url: '/books', method: :post do |f| %>
        <label>Title</label>
        <%= f.text_field :title %>
        <label>Opinion</label>
        <%= f.text_area :body %>
    
        <%= f.submit 'Creat Book'%>
    <% end %>


    <div>
        <h2>Book detail</h2>
        <table>
                <tbody>
                    <tr>
                        <td><%= image_tag @book.user.get_iprofile_mage(100,100) %> <%= @user.name %></td>
                        <td><%= link_to @book.title, book_path(book.id) %></td>
                        <td><%= @book.body %></td>
                        <td><%= link_to "Edit", edit_book_path(book.id) %></td>
                        <td><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
                    </tr>
                </tbody>
        </table>
    </div>
</main>

